#
# This group is read both both by the client and the server
# use it for options that affect everything


[mysqld]

pid-file=/var/lib/mysql/localhost.localdomain.pid

# Error Log  (Disable for Production)
log_warnings = 2
#log-error=/home/logs/mariadb/error.log

# General Log of all SQL queries   (Disable for Production and Dev)
#general_log = 1
#general_log_file=/home/logs/mariadb/general_query.log
log_output=file

# Log of Slow SQL queries (Disable for Production)
slow_query_log = 1
#slow-query-log-file=/home/logs/mariadb/slow_query.log
long_query_time = 2
log_queries_not_using_indexes


